stages:
  - test

rust-msrv:
  stage: test
  image: rust:1.38.0
  script:
    - rustc --version && cargo --version
    - cargo clean
    - cargo test --verbose

rust-latest:
  stage: test
  image: rust:latest
  before_script:
    - wget https://github.com/xd009642/tarpaulin/releases/download/0.16.0/cargo-tarpaulin-0.16.0-travis.tar.gz
    - tar xf cargo-tarpaulin-0.16.0-travis.tar.gz
  script:
    - rustc --version && cargo --version
    - cargo clean
    - ./cargo-tarpaulin tarpaulin --tests --verbose -o html
  artifacts:
    when: always
    paths:
      - target/tarpaulin
      - tarpaulin-report.html
  coverage: '/([0-9]{1,3}\.[0-9]{2}%) coverage,.*/'


rust-nightly:
  stage: test
  image: rustlang/rust:nightly
  script:
    - rustc --version && cargo --version
    - cargo clean
    - cargo test --verbose
  allow_failure: true
